.app-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h4 {
  margin-top: 1rem;
  text-transform: uppercase;
}

.functional-section,
.class-based-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  color: var(--gold);
  margin: 1rem;
  padding: 1rem;
}

.functional-section {
  background-color: var(--red);
}

.class-based-section {
  background-color: var(--blue);
}

form {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.todo-container-functional, .todo-container-class-based {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.todo-container-functional {
  background-color: var(--red-dk);
}

.todo-container-class-based {
  background-color: var(--blue-dk);
}

.input-field-container,
.task-container,
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

label {
  /* padding: 0.25rem; */
}

.input-field-container input {
  height: fit-content;
  width: 30ch;
  border-radius: 1rem;
  padding: 0.25rem;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  text-indent: 0.25rem;
}
